#tools{
    width: 0    px;
    height: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    /*
    the width and height is managed by javascript.
    */
    transition-duration: 3s;
    border-radius: 2px;
    background-color: rgb(40, 40, 100);
}
#logo{
    width: 0px;
    height: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    /*
    the width and height is managed by javascript.
    */
    transition-duration: 3s;
}